RewriteEngine On

# Frontend routes
RewriteRule ^$ frontend/ [L]
RewriteRule ^login$ frontend/views/pages/login.html [L]
RewriteRule ^register$ frontend/views/pages/register.html [L]
RewriteRule ^dashboard$ frontend/views/pages/dashboard.html [L]

# API routes
RewriteRule ^api/auth/register$ backend/views/api/auth/register.json.php [L]
RewriteRule ^api/auth/login$ backend/views/api/auth/login.json.php [L]

# Static files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d